*,html,body{
    margin:0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: white;

}
.secao{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
/*=======================================================================================================*/
/*HEADER */
.container-topo{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.logo_matheus{
    width: 100%;
    max-width: 80px;
}
.menu-topo{
    color: white;
    display: flex;   
}
.menu-topo li{
    margin-left: 40px;
    margin-right: 40px;
    text-decoration: none;
    list-style: none;
}
.menu-topo a{
    color: white;
    text-decoration: none;
}



/*=======================================================================================================*/
/*Seção 1 - Habilidades */
.secao-1{
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url(img/Fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 -100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.secao-1::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}
.card p{
    font-weight: bolder;
    margin-top: 20px;
}
.foto-card{
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
    background-color: white;
    padding: 1px;
    margin-bottom: 10px;
}


.conhecimentos{
    margin-top: 60px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon{
    width: 60px;
    margin: 10px;
}

.tech, .ferramentas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*=======================================================================================================*/
/*Seção 2 - Sobre */
.secao-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 100px 0;
}
.txt_sobre{
    width: 100%;
    max-width: 600px;
    text-align: center;
    line-height: 30px;
    
}
.txt_sobre p{
    padding: 50px;
    text-align: justify;
}

/*=======================================================================================================*/
/*Seção 3 - Portifólio */
.secao-3{
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url(img/fundo_portifolio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.secao-3::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.title_port{
    position: absolute;
    top: 0;
    margin-top: 50px;
    font-size: 2.5em;
}

.jogos_base{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card_base{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 430px;
    background-color: rgba(0, 0, 0, 0.363);
    color: white;
    min-height: 150px;
    border-radius: 15px;
}
a{
    text-decoration: none;
}
.play{
    position: absolute;
    display: none;
    margin-left: 50%;
    border: 1px solid white;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.644);
}
.describe_base{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px 30px;
    text-align: justify;
}
.describe_base p{
    margin-top: 10px;
}
.img_base{
    margin-left: 10px;
}
.img_base img{
    border-radius: 10px;
}
.card_base:hover{
    transform: scale(1.2);   
}
.card_base:hover .play{
    display: block;
}
/*=======================================================================================================*/
/*Secao 4*/

.secao-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}
form{
    
    width: 100%;
    max-width: 500px;
    padding: 30px 0;
    margin-top: 50px;
    border-bottom: 1px solid white;
}
label,input{
    width: 100%;
    height: 30px;
    margin: 20px 0;
}
input{
    padding-left: 10px;
}
.btn{
    width: 100px;
    height: 40px;
    margin-left: 50%;
    transform: translate(-50%);
}
.title_contato{
    margin-top: 70px;
    padding-top: 30px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    font-size: 2.5em;
    border-top: 1px solid white;
}

/*=======================================================================================================*/
/*Rodapé*/
.rodape{
    background-color: black;
    text-align: center;
    margin: 80px;
}







@media (max-width:500px){
body{
    width: 100%;
    box-sizing: border-box;
    max-width: 100vw;
    
}

/*=======================================================================================================*/
/*HEADER */
    .container-topo{
        position: relative;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
    
    }
    .menu-topo-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
  
    .menu-topo{
        width: 100%;    
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .menu-topo li{
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
        padding-top: 20px;
        text-decoration: none;
        list-style: none;
        border-bottom: 1px solid white;
    }
    .menu-topo a{
       
        color: white;
        text-decoration: none;
    }
    .logo_matheus{
        width: 100%;
        max-width: 80px;
        padding-top: 20px;
    }











    /*=======================================================================================================*/
/*Seção 1 - Habilidades */
    .secao-1{
        position: relative;
        width: 100%;
        height: 750px;
        background-image: url(img/Fundo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: 0 -100px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 450px;
    }
    .secao-1::before{
        content: "";
        position: absolute;
        top:0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: black;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        max-width: 450px;
    }

    .card{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;

    }
    .card p{
        font-weight: bolder;
    }
    .foto-card{
        width: 100%;
        max-width: 150px;
        border-radius: 50%;
        background-color: white;
        padding: 1px;
        margin-bottom: 10px;
        margin-top: 30px;
    }


    .conhecimentos{
        margin-top: 30px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 100px;
    }
    .icon{
        width: 60px;
        margin: 10px;
    }

    .tech, .ferramentas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 250px;
        text-align: center;
        margin-top: 50px;
    }
    .tech h3, .ferramentas h3{
        margin-bottom: 20px;
    }










/*=======================================================================================================*/
/*Seção 2 - Sobre */
    .secao-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px auto;
    }
    .txt_sobre{
        width: 100%;
        max-width: 450px;
        text-align: justify;
        line-height: 30px;
    }
    .txt_sobre h2{
        text-align: center;
        margin-bottom: 20px;
    }









/*=======================================================================================================*/
/*Seção 3 - Portifólio */
.secao-3{
    position: relative;
    width: 100%;
    height: 650px;
    background-image: url(img/fundo_portifolio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.secao-3::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.title_port{
    position: absolute;
    top: 0;
    margin-top: 20px;
    font-size: 2.5em;
}

.jogos_base{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.card_base{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 85%;
    background-color: rgba(0, 0, 0, 0.363);
    color: white;
    min-height: 150px;
    border-radius: 15px;
    margin: 20px auto;
}
a{
    text-decoration: none;
}

.describe_base{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px 30px;
    text-align: justify;
}
.describe_base p{
    margin-top: 10px;
    font-size: 100%;
    
}
.describe_base h2{
    font-size: 20px;
}
.img_base{
    margin-left: 10px;
}
.img_base img{
    border-radius: 10px;
    width: 100px;
}
.play{
    display: none;
}

.card_base:hover{
    transform: scale(1);
}
.card_base:hover .play{
    display: none;
}



/*=======================================================================================================*/
/*Secao 4*/

.secao-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}
form{
    
    width: 100%;
    max-width: 300px;
    padding: 30px 0;
    margin-top: 50px;
    border-bottom: 1px solid white;
}
label,input{
    width: 100%;
    height: 30px;
    margin: 20px 0;
}
input{
    padding-left: 10px;
}
.btn{
    width: 100px;
    height: 40px;
    margin-left: 50%;
    transform: translate(-50%);
}
.title_contato{
    margin-top: 70px;
    padding-top: 30px;
    width: 100%;
    max-width: 300px;
    text-align: center;
    font-size: 2.5em;
    border-top: 1px solid white;
}




.rodape{
    position: relative;
    text-align: center;
    margin-top: 60px;
}




    
}